body {
font-family:"Red Hat Display";
font-weight: 400;
color: #666A8F;
font-size: 22px;
margin: 0;
}

ul {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

