:root {
--color-brand-light: #666A8F;
--color-brand-dark: #000645;
--color-price-light: #3E54F6;
--color-footer-nav: #888888;
--color-white: #FFFFFF;
--color-button: #3CDC97;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;