.domain-section {
    background: linear-gradient(83deg, #E9F8FF 0%, #F7EEFE 94.5%);
    padding: 140px 0;

    &__conteiner {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 850px;
        margin: 0 auto;
    }

    &__form {
        display: flex;
        flex-shrink: 0;
    }

    &__input {
        width: 630px;
        border: none;
        border-radius: 32px 0 0 32px;
        padding: 16px 22px;

        &::placeholder {
            font-size: 8px;
        }

        &:focus {
            outline: none;
        }

        @media screen and (min-width: $bp-tablet) {
           padding: 22px 32px;

            &::placeholder {
                font-size: 14px;
            }
        }
    }

    &__button {
        display: flex;
        align-items: center;
        padding: 12px 12px;
        background-color: var(--color-button);
        color: var(--color-white);
        border: 2px solid var(--color-button);
        border-radius: 0 32px 32px 0;
        cursor: pointer;
        font-size: 8px;
        text-transform: uppercase;
        flex-shrink: 0;

        &:hover {
            background-color: transparent;
            color: var(--color-brand-dark);
            border: 2px solid var(--color-button);
        
            svg {
                fill: var(--color-brand-dark);
            }
        }

        @media screen and (min-width: $bp-tablet) {
            padding: 20px 28px;
            font-size: 14px;
        }
    }
}